.column{
    float:right;
    width: 50%;
    padding: 10px;
    height: fit-content;
    padding-bottom: 0em;
}
h1{
    text-align: center;
    font-family:tohama,verdana,sans-serif;
    font-weight: bolder;
    color: rgb(202,74,74);
    text-decoration: dotted;
}
h2{
    text-indent: 0em;
    text-align: center;
    text-decoration-color: firebrick;
    display: inline-flex;
}